html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	font-size: inherit;
	text-decoration: none;
}
/*reset */

.container {
    max-width: 1100px;
    margin: 0 auto;
}


header.header {
    background: #ccc;
}

.header-list {
    display: flex;
    justify-content: space-between;
	padding: 10px 0;
}

.header-list__item {
	font-size: 28px;
}

.sport-products {
	margin-top: 50px;
}

.sport-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 5px;
}

.sport-item {
	text-align: left;
	margin-bottom: 20px;
}

.sport-item__img {
	display: block;
	margin-bottom: 10px;
}
.sport-item__img > img {
	display: block;
	max-width: 300px;
}

.sport-item__link {
	color: black;
	margin-bottom: 10px;
}

.sport-item__quantity {
	margin-bottom: 10px;
}